{{ghost_foot}}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/assets/js/helper3.js"></script>
</body>
</html>
<!-- Footer -->