{{> header }}
<!-- Top Bar -->
<body class="{{body_class}}">
	<div class="wrapper-uber">
        <div class="top-bar-uber">
            <div class="top-bar-logo-container-uber">
                <div class="table">
                    <div class="row">
                        <div class="cell">
                            <a href="http://uglyhelmet.com"><h1>The Uglyhelmet</h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-uber">
            {{{ body }}}
        </div>
	</div>
<!-- END top bar -->
{{> footer }}